<h2 class="card-title">Sign up</h2>

<%= form_with model: @user, url: users_path, class: "flex flex-col gap-4",
    html: { 
      "hx-post": session_path,
      "hx-target": "main",
      "hx-headers": htmx_csrf_headers
    } do |form| %>

  <div class="flex flex-col gap-2">
    <label class="label" for="email">Email Address</label>
    <%= form.email_field :email_address,
                     required: true,
                     autofocus: true,
                     autocomplete: "username",
                     placeholder: "Enter your email address",
                     value: params[:email_address],
                     class: "input max-w-60" %>
  </div>

  <div class="flex flex-col gap-2">
    <label class="label" for="password">Password</label>
    <%= form.password_field :password,
                        required: true,
                        autocomplete: "new-password",
                        placeholder: "Enter your password",
                        maxlength: 72,
                        class: "input max-w-60" %>
  </div>

  <%= form.submit "Sign up", class: "btn" %>
  <button type="button" class="link" hx-get="/session/new" hx-target="main">
    Already have an account?
  </button>
<% end %>

