<% if notice %>
  <div class="alert alert-success">
    <span><%= notice %></span>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-error">
    <span><%= alert %></span>
  </div>
<% end %>