<div class="flex justify-between bg-base-100 p-4 shadow-lg">
  <div class="flex items-center gap-4">
    <button class="link" hx-get="/" hx-target="main">
      rails-htmx
    </button>
    <div class="text-sm font-mono">
      HTMX test:
      <span id="clock">0</span>s
    </div>
  </div>
  <% if authenticated? %>
    <%= render "shared/logout" %>
  <% else %>
    <%= render "shared/login_signup" %>
  <% end %>
</div>
