<div class="flex gap-4 justify-center">
  <button class="link" hx-get="/session/new" hx-target="main">
    Login
  </button>
  <button class="link" hx-get="/users/new" hx-target="main">
    Sign up
  </button>
</div>
