<% if authenticated? %>
  <h1 class="text-4xl font-bold mb-6">
    Welcome back,
    <%= Current.user.email_address %>!
  </h1>
  <%= render "shared/logout" %>
<% else %>
  <h1 class="text-4xl font-bold mb-6">Welcome to Rails HTMX</h1>
  <%= render "shared/login_signup" %>
<% end %>
